// main-font-stack:;
$prime-font-stack:'Roboto', sans-serif;
$secondary-font-stack:"Montserrat", sans-serif;
$items-font-stack:"Kaushan Script", cursive;

$primaty-fontsize: 14px;
$main-textsize: 1rem;
$base-linehight: 1.2;
$primaty-fontcolor: #999999;
$secondary-fontcolor:#333333;
$primary-white-color: #fff;
$primary-rose-color: #f38181;
$primary-green-color: #95e1d3;
$color-for-navhover: #efc51a;
$team-gradient-cardoverlay: linear-gradient(
  0deg,
  rgb(252, 227, 138) 0%,
  rgb(243, 129, 129) 100%
);
$team-cardbutton-color:#fce38a;
$team-cardbutton-bdcolor:#f9bd87;
$footer-wrapper-bdcolor:#e6e6e6;
$email-input-color:#e5e5e5;
$email-placeholder-color:#cccccc;

