.button-learn {
  @extend %button;
  background-color: $primary-rose-color;
  opacity: 1;

  border: 3px solid $primary-white-color;
  background-color: transparent;
  opacity: 0.8;
  transition: all 0.2s linear;

  &:hover {
    background-color: $primary-rose-color;
    opacity: 1;
  }
}
