.user-email {
  display: flex;
  width: 380px;
  height: 42px;
}

.user-email input {
  padding: 0;
  border: 1px solid $email-input-color;
  height: 40px;
  width: 300px;
}

.user-email input::placeholder {
  font-family: $prime-font-stack;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
  line-height: 20px;
  text-indent: 1rem;
  color: $email-input-color;
}
