.section__headline {
  padding: 0;
  margin: 0;
  text-align: center;
}

.section__intro {
  display: block;
  padding-bottom: 20px;
  font-family: $items-font-stack;
  font-size: 1.143rem;
  line-height: $base-linehight;
}

.section__text {
  display: block;
  margin: 0;
  font-family: $secondary-font-stack;
  font-size: 2.143rem;
  line-height: $base-linehight;
}

.section__text::after {
  display: block;
  background-color: $primary-rose-color;
  margin: 40px auto 0;
  width: 60px;
  height: 3px;
  content: '';
}

.section__headline_mb {
  margin-bottom: 62px;
}
