.team_mb {
  margin-bottom: 85px;
}

.team__paragraph {
  margin: auto;
  text-align: center;
  width: 949px;
  min-height: 136px;
  font-family: $prime-font-stack;
  font-size: 1.071rem;
  line-height: 24px;
  color: $primaty-fontcolor;
}

.team__cards {
  @include center-flex('spbeet');
  
}

.team__card {
  display: block;
  width: 380px;
  height: 540px;

  &:hover .team__card-overlay {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0.9;
  }

  &:hover .team__card-image {
    transform: translateX(-10px) translateY(-10px);
  }

  &:hover .team__card-buttons {
    opacity: 1;
  }
}

.team__card-overlay {
  position: absolute;
  width: 380px;
  height: 470px;
  background-image: $team-gradient-cardoverlay;
  opacity: 0;
  z-index: 3;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.team__image-wrapper {
  @include center-flex("all");
  width: 380px;
  height: 470px;
  background-color: $primary-green-color;
  z-index: 1;
}

.team__card-image {
  position: absolute;
  width: auto;
  height: 470px;
  z-index: 2;

  transition: transform 0.2s linear;
}

.team__card-buttons {
  display: flex;
  opacity: 0;
  z-index: 4;
}

.team__card-button {
  @include center-flex("all");
  width: 50px;
  height: 50px;
  background-color: $team-cardbutton-color;
  padding: 0;
  border: none;
  border-right: 1px solid $team-cardbutton-bdcolor;
  color: $primary-white-color;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: $primary-green-color;
  }

  &:hover .team__card-icon {
    fill: $primary-white-color;
  }
}

.team__card-icon {
  display: block;
  width: 26px;
  height: 22px;
  fill: $primary-rose-color;
}

.team__card-headline {
  text-align: center;
}

.team__card-name {
  margin: 0;
  padding: 26px 0 10px 0;
  font-family: $secondary-font-stack;
  font-size: $main-textsize;
  line-height: $base-linehight;
  text-transform: uppercase;
  color: $secondary-fontcolor;
}

.team__card-occupation {
  margin: 0;
  font-family: $prime-font-stack;
  font-weight: 300;
  font-style: italic;
  font-size: 1.071rem;
  line-height: $base-linehight;
  color: $primaty-fontcolor;
}
