.services__item {
  flex-basis: 380px;
  min-height: 170px;

  &::before {
    display: inline-block;
    width: 80px;
    height: 31px;
    content: '';
    background: center center no-repeat;
  }
}

.services__item-headline {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: $secondary-font-stack;
  font-size: 1rem;
  line-height: $base-linehight;
  text-transform: uppercase;
  color: $primaty-fontcolor;
}

.services__icon {
  &_clock::before {
    background-image: url(../images/icons/icons_svg/ALARM.svg);
  }

  &_linegraph::before {
    background-image: url(../images/icons/icons_svg/LINE_GRAPH.svg);
  }

  &_creativity::before {
    background-image: url(../images/icons/icons_svg/COMPUTER.svg);
  }

  &_seo::before {
    background-image: url(../images/icons/icons_svg/BOOK.svg);
  }

  &_seo::before {
    background-image: url(../images/icons/icons_svg/BOOK.svg);
  }

  &_css-html::before {
    background-image: url(../images/icons/icons_svg/HOME.svg);
  }

  &_digital::before {
    background-image: url(../images/icons/icons_svg/IMAGE.svg);
  }
}

.services__item-paragraph {
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  margin: 0;
  font-family: $prime-font-stack;
  font-size: 1.071rem;
  line-height: 24px;
  color: $primaty-fontcolor;
}
