.site-info {
  font-family: $secondary-font-stack;
  font-size: $main-textsize;
  line-height: $base-linehight;
  color: $secondary-fontcolor;
}

.site-info__word_red {
  color: $primary-rose-color;
}
